.body_background {
    background-image: url("2153700.jpeg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  #heading_1
  {
      color: white; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: black; 
      border-style:ridge;
  }

  button {
    background-color: pink;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 20px;
  }

  input
  {
    margin-right: 20px;
  }
  
  span{
      color: pink;
      font-size: 20px;
  }